<div class="col-12 main-box">
  <div class="col-12 banner">
    <img class="banner-image w-100" src="assets/images/b4.png" />
    <div class="col-12 tym">
      <h3 class="time">{{ this.weatherData?.current.observation_time }}</h3>
      <h5 class="time">{{ this.weatherData?.location.country }}</h5>
    </div>
  </div>
  <div class="row">
    <div class="col-8">
      <div class="row">
        <div class="col-4 mb-3 serach-form mt-3">
          <form
            [formGroup]="weatherSearchForm"
            (ngSubmit)="sendToAPIXU(weatherSearchForm.value)"
          >
            <div class="form-group">
              <label for="exampleFormControlInput1" class="form-label lbl-head"
                >Serach Location</label
              >
              <div class="input-group mb-3">
                <input
                  class="form-control frm-input"
                  type="text"
                  id="weatherLocation"
                  aria-describedby="weatherLocation"
                  placeholder="Please input a Location"
                  formControlName="location"
                />
                <div class="input-group-append">
                  <button type="submit" class="btn srch-btn btn-md">
                    <svg
                      width="1em"
                      height="1em"
                      viewBox="0 0 16 16"
                      class="bi bi-search"
                      fill="currentColor"
                      xmlns="http://www.w3.org/2000/svg"
                    >
                      <path
                        fill-rule="evenodd"
                        d="M10.442 10.442a1 1 0 0 1 1.415 0l3.85 3.85a1 1 0 0 1-1.414 1.415l-3.85-3.85a1 1 0 0 1 0-1.415z"
                      />
                      <path
                        fill-rule="evenodd"
                        d="M6.5 12a5.5 5.5 0 1 0 0-11 5.5 5.5 0 0 0 0 11zM13 6.5a6.5 6.5 0 1 1-13 0 6.5 6.5 0 0 1 13 0z"
                      />
                    </svg>
                  </button>
                </div>
              </div>
              <!-- <input
            class="form-control frm-input"
            type="text"
            id="weatherLocation"
            aria-describedby="weatherLocation"
            placeholder="Please input a Location"
            formControlName="location"
          />
          <button type="submit" class="btn srch-btn btn-md">
            Search for the weather
          </button> -->
            </div>
            <div class="text-center"></div>
          </form>
        </div>
        <div class="col-4 mt-5">
          <button
            type="submit"
            class="col-12 btn btn-outline-secondary tym-btn btn-md"
            data-toggle="modal"
            data-target="#timeModal"
          >
            Time Details
          </button>
        </div>
        <div class="col-4 mt-5">
          <button
            type="submit"
            class="col-12 btn btn-outline-secondary tym-btn btn-md"
            data-toggle="modal"
            data-target="#detailsModal"
          >
            More Information
          </button>
        </div>
      </div>
      <div class="row">
        <div class="col-4">
          <h4><span class="txt-bold">Wind</span> Details</h4>
          <div class="card mt-3 wind shadow" style="width: 14rem;">
            <div class="card-body">
              <div class="row">
                <div class="col-8">
                  <span class="weather">Wind</span>&nbsp;<span class="day"
                    >Direction</span
                  >
                </div>

                <div class="col-4 degree1">
                  {{ this.weatherData?.current.wind_dir }}
                </div>
              </div>
            </div>
          </div>
          <div class="card mt-3 wind shadow" style="width: 14rem;">
            <div class="card-body">
              <div class="row">
                <div class="col-8">
                  <span class="weather">Wind</span>&nbsp;<span class="day"
                    >Speed</span
                  >
                </div>

                <div class="col-4 degree1">
                  {{ this.weatherData?.current.wind_speed }}
                </div>
              </div>
            </div>
          </div>
          <div class="card mt-3 wind" style="width: 14rem;">
            <div class="card-body">
              <div class="row">
                <div class="col-8">
                  <span class="weather">Wind</span>&nbsp;<span class="day"
                    >Degree</span
                  >
                </div>

                <div class="col-4 degree1">
                  {{ this.weatherData?.current.wind_degree }}
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-4">
          <h4><span class="txt-bold">Place to</span> Visit</h4>
          <div class="col-12 mt-4">
            <img class="w-100 place" src="assets/images/unnamed.jpg" />
          </div>
        </div>
        <div class="col-4">
          <!-- <h4><span class="txt-bold">Place to</span> Visit</h4> -->
          <div class="row">
            
          <div class="col-12 card shadow">
            <div class="card-body">
            <div class="col-12 mt-5">
              <div class="row mt-4">
                <div class="col-4 card-txt line">
                  humidity <br><span class="card-txt2">{{ this.weatherData?.current.humidity }}%</span>
                </div>
                <div class="col-4 card-txt line">
                  Region <br><span class="card-txt2">{{ this.weatherData?.location.region }}</span>
                </div>
                <div class="col-3 card-txt">
                  weather<br> <span class="card-txt2">{{ this.weatherData?.current.weather_descriptions }}</span>
                </div>
              </div>
              </div>
              </div>
              <img class="w-100 place2" src="assets/images/sky.jpg" />
            </div>
            <div class="col-12 mt-4">
              <img class="w-100 place3" src="assets/images/sky1.jpg" />
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-4 last mt-5">
      <div class="col-12 card shadow">
        <div class="card-body">
          <div class="row">
            <!-- <div class="col-12 space">
              <span class="details">Location :</span>
              <span class="main-lctn">{{
                this.weatherData?.location.name
              }}</span>
              <br />
              <span class="details">Country :</span>
              <span class="sub-lctn">{{
                this.weatherData?.location.country
              }}</span>
            </div> -->
            <!-- <div class="col-2 degree space">
              <svg
                width="1em"
                height="1em"
                viewBox="0 0 16 16"
                class="bi bi-cloud-fill"
                fill="currentColor"
                xmlns="http://www.w3.org/2000/svg"
              >
                <path
                  fill-rule="evenodd"
                  d="M4.406 3.342A5.53 5.53 0 0 1 8 2c2.69 0 4.923 2 5.166 4.579C14.758 6.804 16 8.137 16 9.773 16 11.569 14.502 13 12.687 13H3.781C1.708 13 0 11.366 0 9.318c0-1.763 1.266-3.223 2.942-3.593.143-.863.698-1.723 1.464-2.383z"
                />
              </svg>
              {{ this.weatherData?.current.weather_icons}} 
            </div> -->
            <div class="col-3 space line">
              <span class="details">Temperature</span>
              <h6>{{ this.weatherData?.current.temperature }}</h6>
            </div>
            <div class="col-4 space line">
              <span class="details">Location</span>
              <h6>{{ this.weatherData?.location.name }}</h6>
            </div>
            <div class="col-3 space">
              <span class="details">Country</span>
              <h6>{{ this.weatherData?.location.country }}</h6>
            </div>
          </div>
          
        </div>
      </div>
      <div class="card mt-3 shadow col-12">
        <div class="card-body">
          <div class="row">
            <div class="col-6 card2-txt">
              Latitude :&nbsp;&nbsp;&nbsp;{{ this.weatherData?.location.lat }}
            </div>
            <div class="col-6 card2-txt">
              Longitude :&nbsp;&nbsp;&nbsp;{{ this.weatherData?.location.lon }}
            </div>
          </div>
        </div>
      </div>
      <div class="card mt-3 outline col-12">
        <div class="card-body pt-4 pl-5 pr-5">
          <div class="row">
            <div class="col-12">
              <button class="col-12 btn add-btn">Add Location</button>
            </div>
            <!-- <div class="col-12 mt-3">
            <img class="w-100" src="assets/images/vector.jpg" />
          </div> -->
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- <label for="exampleFormControlInput1" class="form-label lbl-head"
        >Serach Location</label
      >
      <input
        type="email"
        class="form-control frm-input"
        id="exampleFormControlInput1"
        placeholder="Location"
      />
      <button class="btn mt-3 srch-btn" type="button" id="button-addon2">Button</button>
    </div>-->

  <!-- <div class="input-group mb-3">
    <input type="text" class="form-control" placeholder="Recipient's username" aria-label="Recipient's username" aria-describedby="button-addon2">
    <button class="btn btn-outline-secondary" type="button" id="button-addon2">Button</button>
  </div> -->

  <br />
  <div class="row mt-4">
    <!-- <div class="col-3">
      <h4><span class="txt-bold">Wind</span> Details</h4>
      <div class="card mt-3 wind shadow" style="width: 14rem;">
        <div class="card-body">
          <div class="row">
            <div class="col-8">
              <span class="weather">Wind</span>&nbsp;<span class="day"
                >Direction</span
              >
            </div>

            <div class="col-4 degree1">
              {{ this.weatherData?.current.wind_dir }}
            </div>
          </div>
        </div>
      </div>
      <div class="card mt-3 wind shadow" style="width: 14rem;">
        <div class="card-body">
          <div class="row">
            <div class="col-8">
              <span class="weather">Wind</span>&nbsp;<span class="day"
                >Speed</span
              >
            </div>

            <div class="col-4 degree1">
              {{ this.weatherData?.current.wind_speed }}
            </div>
          </div>
        </div>
      </div>
      <div class="card mt-3 wind" style="width: 14rem;">
        <div class="card-body">
          <div class="row">
            <div class="col-8">
              <span class="weather">Wind</span>&nbsp;<span class="day"
                >Degree</span
              >
            </div>

            <div class="col-4 degree1">
              {{ this.weatherData?.current.wind_degree }}
            </div>
          </div>
        </div>
      </div>
    </div> -->

    <!-- <div class="col-3">
      <h4><span class="txt-bold">Place to</span> Visit</h4>
      <div class="col-12 mt-5">
        <img class="w-100 place" src="assets/images/unnamed.jpg" />
      </div>
    </div>
    <div class="col-3 mt-4">
      <h4><span class="txt-bold">Place to</span> Visit</h4>
      <div class="row">
        <div class="col-12 mt-5">
          <img class="w-100 place2" src="assets/images/sky.jpg" />
        </div>
        <div class="col-12 mt-4">
          <img class="w-100 place3" src="assets/images/sky1.jpg" />
        </div>
      </div>
    </div> -->
    <!-- <div class="col-3 last">
      <div class="card shadow" style="width: 18rem;">
        <div class="card-body">
          <div class="row">
            <div class="col-2 degree space">
              <svg
                width="1em"
                height="1em"
                viewBox="0 0 16 16"
                class="bi bi-cloud-fill"
                fill="currentColor"
                xmlns="http://www.w3.org/2000/svg"
              >
                <path
                  fill-rule="evenodd"
                  d="M4.406 3.342A5.53 5.53 0 0 1 8 2c2.69 0 4.923 2 5.166 4.579C14.758 6.804 16 8.137 16 9.773 16 11.569 14.502 13 12.687 13H3.781C1.708 13 0 11.366 0 9.318c0-1.763 1.266-3.223 2.942-3.593.143-.863.698-1.723 1.464-2.383z"
                />
              </svg>
               {{ this.weatherData?.current.weather_icons}} 
            </div>
            <div class="col-3 space line">
              <h3>{{ this.weatherData?.current.temperature }}</h3>
            </div>
            <div class="col-6 space">
              <span class="main-lctn">{{
                this.weatherData?.location.name
              }}</span>
              <br /><span class="sub-lctn">{{
                this.weatherData?.location.country
              }}</span>
            </div>
          </div>
          <div class="row mt-4">
            <div class="col-4 ml-3 card-txt line">
              humidity {{ this.weatherData?.current.humidity }}%
            </div>
            <div class="col-4 card-txt line">
              {{ this.weatherData?.location.region }}
            </div>
            <div class="col-3 card-txt">
              {{ this.weatherData?.current.weather_descriptions }}
            </div>
          </div>
        </div>
      </div>
      <div class="card mt-3 shadow" style="width: 18rem;">
        <div class="card-body">
          <div class="row">
            <div class="col-12 card2-txt">
              Latitude :&nbsp;&nbsp;&nbsp;{{ this.weatherData?.location.lat }}
            </div>
            <div class="col-12 card2-txt mt-2">
              Longitude :&nbsp;&nbsp;&nbsp;{{ this.weatherData?.location.lon }}
            </div>
          </div>
        </div>
      </div>
      <div class="card mt-3 outline" style="width: 18rem;">
        <div class="card-body pt-4 pl-5 pr-5">
          <div class="row">
            <div class="col-12">
              <button class="col-12 btn add-btn">Add Location</button>
            </div>
            <div class="col-12 mt-3">
              <img class="w-100" src="assets/images/vector.jpg" />
            </div>
          </div>
        </div>
      </div>
    </div> -->
  </div>

  <!-- <div class="container">
    <div class="row">
      <div class="col-md-6">
        <h3 class="text-center my-4">Search for Weather:</h3>
        <form
        [formGroup]="weatherSearchForm"
        (ngSubmit)="sendToAPIXU(weatherSearchForm.value)"
      >
        <div class="form-group">
          <input
            class="form-control"
            type="text"
            id="weatherLocation"
            aria-describedby="weatherLocation"
            placeholder="Please input a Location"
            formControlName="location"
          />
        </div>
        <div class="text-center">
          <button type="submit" class="btn btn-success btn-md">
            Search for the weather
          </button>
        </div>
      </form>
      </div>
      <div class="col-md-6">
        <h3 class="text-center my-4">Weather Details:</h3>
        <p class="text-center">
          Current weather conditions:
        </p>
        <p class="text-center">
          Temperature in Degrees Celsius:
          {{ this.weatherData?.current.temperature }}
        </p>
        <p class="text-center">
          Temperature in Degrees Farenheit:
          {{ this.weatherData?.current.temp_f }}
        </p>
        <p class="text-center">
          Feels like in Degrees Celsius:
          {{ this.weatherData?.current.feelslike_c }}
        </p>
        <p class="text-center">
          Feels like in Degrees Farenheit:
          {{ this.weatherData?.current.feelslike_f }}
        </p>
        <p class="text-center">
          Location Searched: {{ this.weatherData?.location.name }},
          {{ this.weatherData?.location.country }}.
        </p>
      </div>
    </div>
  </div> -->

  <!-- Modal -->
  <div
    class="modal fade"
    id="timeModal"
    tabindex="-1"
    role="dialog"
    aria-labelledby="timeModalLabel"
    aria-hidden="true"
  >
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Time Details</h5>
          <button
            type="button"
            class="close"
            data-dismiss="modal"
            aria-label="Close"
          >
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <div class="row">
            <div class="col-6">
              <h6 class="time-txt">
                Time Zone
                <span class="time-head">
                  : &nbsp; {{ this.weatherData?.location.timezone_id }}</span
                >
              </h6>
            </div>
            <div class="col-6">
              <h6 class="time-txt">
                Local Time
                <span class="time-head">
                  : &nbsp;{{ this.weatherData?.location.localtime }}</span
                >
              </h6>
            </div>
          </div>
          <div class="row mt-3">
            <div class="col-6">
              <h6 class="time-txt">
                Observation Time
                <span class="time-head">
                  : &nbsp;{{ this.weatherData?.current.observation_time }}</span
                >
              </h6>
            </div>
            <div class="col-6">
              <h6 class="time-txt">
                Is day
                <span class="time-head">
                  : &nbsp;{{ this.weatherData?.current.is_day }}</span
                >
              </h6>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">
            Close
          </button>
        </div>
      </div>
    </div>
  </div>

  <div
    class="modal fade"
    id="detailsModal"
    tabindex="-1"
    role="dialog"
    aria-labelledby="detailsmodalLabel"
    aria-hidden="true"
  >
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">More Informations</h5>
          <button
            type="button"
            class="close"
            data-dismiss="modal"
            aria-label="Close"
          >
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <div class="row">
            <div class="col-6">
              <h6 class="time-txt">
                Weather Code<span class="details-head">
                  : &nbsp; {{ this.weatherData?.current.weather_code }}</span
                >
              </h6>
            </div>
            <div class="col-6">
              <h6 class="time-txt">
                Pressure
                <span class="details-head">
                  : &nbsp; {{ this.weatherData?.current.pressure }}</span
                >
              </h6>
            </div>
          </div>
          <div class="row mt-3">
            <div class="col-6">
              <h6 class="time-txt">
                Precip
                <span class="details-head">
                  : &nbsp; {{ this.weatherData?.current.precip }}</span
                >
              </h6>
            </div>
            <div class="col-6">
              <h6 class="time-txt">
                Feels Like
                <span class="details-head">
                  : &nbsp; {{ this.weatherData?.current.feelslike }}</span
                >
              </h6>
            </div>
          </div>
          <div class="row mt-3">
            <div class="col-6">
              <h6 class="time-txt">
                UV Index
                <span class="details-head">
                  : &nbsp; {{ this.weatherData?.current.uv_index }}</span
                >
              </h6>
            </div>
            <div class="col-6">
              <h6 class="time-txt">
                Visibility
                <span class="details-head">
                  : &nbsp; {{ this.weatherData?.current.visibility }}</span
                >
              </h6>
            </div>
          </div>
          <div class="row mt-3">
            <div class="col-6">
              <h6 class="time-txt">
                Local Time
                <span class="details-head">
                  : &nbsp;
                  {{ this.weatherData?.location.localtime_epoch }}</span
                >
              </h6>
            </div>
            <div class="col-6">
              <h6 class="time-txt">
                UTC Offset
                <span class="details-head">
                  : &nbsp; {{ this.weatherData?.location.utc_offset }}</span
                >
              </h6>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">
            Close
          </button>
        </div>
      </div>
    </div>
  </div>
  <router-outlet></router-outlet>
</div>
